<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="gallery.css" />
<script type="text/javascript" src="gallery.js"></script>
</head>
    
<body>
    
    <ul class="topnav">
        <li class="logo"><a href="index.html"><img src="images/logo.png" height="90px"></a></li>
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#news">Gallery</a></li>
        <li><button onclick="myFunction()" class="dropbtn">Services</button>  
            <div id="myDropdown" class="dropdown-content">
              <a href="services_gm.html">Garden Maintence</a>
              <a href="services_design.html">Garden Design</a>
              <a href="#">Link 3</a>
            </div></a></li>
        </ul>
    
    <!-- Container for the image gallery -->
    <div class="container">
    
        <!-- Full-width images with number text -->
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="lawnCare.jpg" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="botanicGarden.jpg" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="bridgeGarden.jpg" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="butterfly.jpg" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="Hedgework.jpg" style="width:100%">
        </div>
    
        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="wisteria.jpg" style="width:100%">
        </div>
    
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
        <!-- Image text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>
    
        <!-- Thumbnail images -->
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="lawnCare.jpg" style="width:100%" onclick="currentSlide(1)" alt="Lawn">
            </div>
            <div class="column">
                <img class="demo cursor" src="botanicGarden.jpg" style="width:100%" onclick="currentSlide(2)"
                    alt="The Botanic Garden">
            </div>
            <div class="column">
                <img class="demo cursor" src="bridgeGarden.jpg" style="width:100%" onclick="currentSlide(3)"
                    alt="The Bridge Garden">
            </div>
            <div class="column">
                <img class="demo cursor" src="butterfly.jpg" style="width:100%" onclick="currentSlide(4)"
                    alt="Butterfly">
            </div>
            <div class="column">
                <img class="demo cursor" src="Hedgework.jpg" style="width:100%" onclick="currentSlide(5)"
                    alt="Hedgework">
            </div>
            <div class="column">
                <img class="demo cursor" src="wisteria.jpg" style="width:100%" onclick="currentSlide(6)"
                    alt="Wisteria">
            </div>
        </div>
    </div>




<footer>
    <div class="container">
        <div class="item"><h3>Contact:</h3>
            <p>07526849024</p>
            <p>rgardenservices@mail.com</p></div>
        <div class="item">Legal</div>
            <div class="item">Website Usage</div>
            <div class="item">Cookies</div>
            <div class="item">Privacy</div>
        <div class="item">social media icons</div>
        <div class="item"><img src="images/logopr.png" height="150px"></div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>
</html>
