img {
   vertical-align: middle;
}

* {
    box-sizing: border-box;
    position: center;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    display: block;
    width: 900px;

}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.logo {
    float: left;
    display: inline-block;
    padding: 80px;
}



body {font-family: "Prompt", sans-serif;
    background-color: rgba(13, 68, 36);
    margin: 0px;
    padding: 0px;
  }
  
  footer {
    color: rgb(143, 235, 189);
    background-color: rgba(13, 68, 36);
    
  }

  ul.topnav {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(13, 68, 36);
  }
  
  ul.topnav li {float: right;}
  
  ul.topnav li a {
    display: block;
    color: white;
    font-size: 24px;
    text-align: center;
    text-emphasis: strong;
    padding: 25px 25px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover {color: rgb(143, 235, 189);}
  
  
  ul.topnav li.logo {
    float: left;
    z-index: 1;
  }
  


  .dropbtn {
    float: right;
    color: white;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 25px;
    border: none;
    cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
      color:rgb(143, 235, 189);
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: absolute;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      position: absolute;
      top: 80px;
      right: 30%;
      display: none;
      background-color: grey;
      min-width: 160px;
      border-radius: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: rgb(58, 57, 55);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-radius: 10px;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #141616;}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
    
.container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
    }

.item {
      flex-basis: 100px;
      padding-top: 20px;
      height: auto;
    }


.h2a {
  text-align: center;
}
.containers1 {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .items1 {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    box-align: center;
  }

#FAQ_title {
  color: rgba(13, 68, 36);
}

#Contact_title {
  color: rgba(13, 68, 36)
}
